
.box{
    width: 500px;height: 500px; border: 1px black;
}

div > table{
    border : 1px solid  black;
    width: 730px; height: 250px;
}
td{
    padding: 40px;
    vertical-align: middle;
    float: left;
    width: 150px;
    font-weight: bold;
}
.me{
    width:200px;
    float: left;
    overflow: hidden;
}
img{
    width: 100px; 
    height: 100px; 
    border: 2px solid #ddd; 
}
button{
    width: 60; height: 30;
}